@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f7f1e8;
  color: #211815;
  font-family: var(--font-body);
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}

button,
input,
select,
textarea {
  font-family: var(--font-body);
}

input,
select {
  outline: none;
}